name: Create Release

on:
  workflow_dispatch:
    inputs:
      prerelease:
        description: Prerelease tag (optional)
        required: false
        type: string
        default: ''
      release-as:
        required: true
        type: choice
        default: auto
        description: If you want an automated or a manual version bump
        options:
          - auto
          - major
          - minor
          - patch

env:
  BUILD_NAME: TankGame
  PLATFORM: StandaloneWindows64

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      # Checkout
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Cache
      - uses: actions/cache@v3
        with:
          path: Library
          key: Library-${{ env.PLATFORM }}
          restore-keys: |
            Library-

      - name: Install Versionize
        run: dotnet tool install --global Versionize

      - name: Set up git config
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"

      - name: Version bump
        env:
          PRERELEASE: ${{ github.event.inputs.prerelease }}
          RELEASE_AS: ${{ github.event.inputs.release-as }}
        run: >
          versionize --exit-insignificant-commits
          ${{ env.PRERELEASE != '' && format('--pre-release {0}', env.PRERELEASE) || '' }}
          ${{ env.RELEASE_AS != 'auto' && format('--release-as {0}', env.RELEASE_AS) || '' }}

      - name: Get latest tag
        id: get-latest-tag
        run: echo "version-tag=$(git describe --tags --abbrev=0)" >> $GITHUB_OUTPUT

      - name: Get version without 'v' prefix
        id: get-version
        run: |
          version=${{ steps.get-latest-tag.outputs.version-tag }}
          version=${version#v}
          echo "version=$version" >> $GITHUB_OUTPUT
          echo "$version"

      - name: Checkout build history from gh-pages
        run: |
          mkdir BuildHistory
          git checkout origin/gh-pages -- BuildHistory

      - name: Create build
        uses: game-ci/unity-builder@v4
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
        with:
          buildName: ${{ env.BUILD_NAME }}
          targetPlatform: ${{ env.PLATFORM }}
          versioning: Custom
          version: ${{ steps.get-version.outputs.version }}
          buildMethod: DevToolbox.Editor.BuildScript.Build
          customParameters: -buildHistoryPath BuildHistory/data.json -repoUrl https://github.com/colt-fortem/DummyUnityProject/releases/tag/

      - name: Get changelog
        run: |
          set -e
          PREAMBLE="# What's changed?"
          if ! CHANGELOG=$(versionize changelog 2>&1); then
            echo "::error ::$CHANGELOG"
            exit 1
          fi
          {
            echo "CHANGELOG<<EOF"
            printf "%s\n\n" "$PREAMBLE"
            echo "$CHANGELOG"
            echo "EOF"
          } >> $GITHUB_ENV

      - name: Zip
        id: zip
        run: |
          artifact_name=${{ env.BUILD_NAME }}_${{ steps.get-latest-tag.outputs.version-tag }}_${{ env.PLATFORM }}.zip
          pushd ./build/${{ env.PLATFORM }}
          zip -r ../../$artifact_name .
          popd
          echo "artifact-name=$artifact_name" >> $GITHUB_OUTPUT

      - name: Create a Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.VERSION_TAG }}
          prerelease: ${{ contains(env.VERSION_TAG, '-') }}
          body: ${{ env.CHANGELOG }}
          files: ${{ steps.zip.outputs.artifact-name }}
          fail_on_unmatched_files: true

      - name: Publish build stats to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./BuildHistory
          publish_branch: gh-pages
          destination_dir: ./BuildHistory
